 {% extends "core/base.html" %}
 {% block title  %}home{% endblock %}{%block background%}{%load static%}  {%endblock%}


 {%block headers%}
 
{%endblock%}
{%block content%}
<section class="center-content">
    <h2>Uncover the Mysteries of Outer Space</h2>
    
    <p>Welcome to our website dedicated to exploring planets and astrology! Here, you'll find fascinating information about celestial bodies and their influences on our lives.</p>
    
    <div id="my-iframe">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KG6SL6Mf7ak?autoplay=1
        " frameborder="0" allowfullscreen allow="autoplay"></iframe>
    </div>
</section>

{% endblock  %}

